body { overflow-x: hidden;}

section[id] {
  scroll-margin-top: 50px;
}

#paginaInicial {
    background: url(../image/Fundo.jpg);
    background-size: cover;
}

.carousel-item > .card {
    max-width: 50%;
    min-width: 250px;
    margin-bottom: 20px;
}

.carousel-control-next > i, .carousel-control-prev > i { font-size: 5vh;}

.carousel-item .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dialog {
    width: 400px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000007a;
}

dialog::backdrop { background-color: #000000b0;}

#skills > nav {cursor: pointer;}

.hard-skills > .card, .soft-skills > .card{ width: 200px; }

#WhatsApp {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    bottom: 0;
    right: 0;
    position: sticky;
}