body {
    overflow-x: hidden;
}

.carousel-item > .card {
    max-width: 50%;
    min-width: 250px;
    margin-bottom: 20px;
}

.carousel-control-next > i, .carousel-control-prev > i {
    font-size: 5vh;
}

.hard-skills > .card, .soft-skills > .card{
    width: 200px;
    /* min-width: 250px; */
}